* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right,
    rgba(255, 162, 0),
    rgba(207, 195, 21),
    rgba(0, 212, 255)
  );
  display: flex;
  justify-content: center;
}

main {
  width: 82vw;
  height: 90vh;
}

/*****************************************************Tables*********************************************/
div.table {
  width: 82vw;
  height: 90vh;
  background-color: #fff5;

  backdrop-filter: blur(5px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
  overflow: hidden;
}

.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: 0.8rem 1rem;
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: 0.8rem auto;
  border-radius: 0.6rem;

  overflow: auto;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5em;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

table {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr:hover {
  background-color: #fff6;
}

/********************************Cards******************************/
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  margin-top: 1rem;
}

.card {
  background-color: rgba(44, 62, 80);
  border-radius: 1.5rem;
  box-shadow: 0 0.4rem 0.8rem #0005;
  display: flex;
  width: 16rem;
  height: 16rem;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.card__content {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card__title {
  color: rgba(244, 246, 246);
  font-size: 1.2rem;
}

/********************************Inputs*****************************/
.input__wrapper {
  position: relative;
  padding: 15px 0 0;
}

.input__field {
  outline: 1.5px solid rgba(244, 246, 246);
  font-size: 1rem;
  border-radius: 8px;
  color: rgba(244, 246, 246);
  padding: 8px;
  border: none;
  padding-right: 32px;
  background: transparent;
  transition: all 0.2s;
  width: 100%;
}

.input__field::placeholder {
  color: transparent;
}

.input__field:placeholder-shown ~ .input__label {
  font-size: 1rem;
  cursor: text;
  color: rgba(244, 246, 246);
  top: 24px;
}

label,
input__field:focus ~ .input__label {
  position: absolute;
  top: 6px;
  padding: 0 4px;
  background-color: rgba(44, 62, 80);
  display: block;
  font-size: 14px;
  left: 8px;
  color: rgba(244, 246, 246);
  transition: 0.3s;
}

.input__field:focus ~ .input__label {
  color: rgba(163, 228, 215);
}

.input__field:focus {
  outline: 1.5px solid rgba(163, 228, 215);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  filter: invert(1);
}

.ig-2 {
  background-color: rgba(169, 204, 227);
}

.ig-3 {
  background-color: rgba(128, 139, 150);
}

.btn-custom {
  background-color: transparent;
  border-color: black;
  border-width: 0.15rem;
  color: black;
}

.btn-custom:hover {
  background-color: #fff5;
  border-color: black;
  border-width: 0.15rem;
  color: white;
}

.container .row {
  justify-content: center;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}
@media (max-width: 480px) {
  .input-group-addon,
  .input-group-btn,
  .input-group .form-control {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }

  .input-group {
    display: block;
  }

  .datePicker {
    width: 100%;
  }
}
